h1 {
    padding-left: 10px;
    margin-bottom: 30px;
}

.ip-data > div {
    margin: 25px;
}

.btn-submit {
    margin-left: 6px;
}

.ip-data-title {
    font-size: 20px;
}

.send-error {
    color: red;
}